.home {
    -webkit-user-drag: none;
    position: absolute;
}
#canvas{
    touch-action: none;
}
.picker{
    width: 10px;
    height: 10px;
    /* display: flex; */
    /* flex-direction: column; */
}
.color-pick{
    /* background-color: black; */
    /* display: inline-block; */
    width: 30px;
    height: 30px;
    margin-top: -10px;
    margin-left: 15px;
    border-radius: 50%;
}
.main-picker{
    margin-left: -13rem;
    width: 456px;
    height: 728px;
}