/* .home {
    -webkit-user-drag: none;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
} */
.home {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow: hidden;

}
.home::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
#canvas {
  touch-action: none;
  background-color: black;
}
.picker {
  width: 25px;
  height: 25px;
  /* display: flex; */
  /* flex-direction: column; */
}
.color-pick {
  /* background-color: black; */
  /* display: inline-block; */
  width: 25px;
  height: 25px;
  /* margin-top: -10px;
    margin-left: 15px; */
  border-radius: 50%;
}
.main-picker {
  margin-left: -13rem;
  margin-top: 1rem;
  width: 456px;
  height: 728px;
}
